{% extends 'base.html.twig' %}

{% block title %}Add Wallet{% endblock %}


{% block body %}
    <div class="px-6 py-6">
        <h1 class="text-2xl font-bold mb-4">Add Wallet</h1>
        {{ form_errors(walletForm) }}

        {{ form_start(walletForm) }}
        {{ form_row(walletForm.currency) }}

        <button type="submit" class="btn">Add</button>
        {{ form_end(walletForm) }}
    </div>
{% endblock %}
